main {
  margin            : 120px auto;
  display           : flex;
  align-items       : center;
  justify-content   : space-between;
  gap               : 40px;
  flex-wrap         : wrap;
  width             : 90%;
}
